PORT=3000
JWT_SECRET=cambia-este-secreto
FRONTEND_BASE_URL=http://localhost:8000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=normarcampos03@gmail.com
SMTP_PASS=
MAIL_FROM=normarcampos03@gmail.com
MAIL_FROM_NAME=RentCar Express
SUPPORT_INBOX_EMAIL=normarcampos03@gmail.com
ADMIN_USER_EMAIL=normarcampos03@gmail.com
AGENT_USER_EMAIL=normarcampos03+agente@gmail.com
